/* -----------------------------
 * Jordi Design Home CSS
 *
 * ---------
 * CSS Index
 *
 * 001 - Extended Files
 * 002 - Slider
 * 003 - Categories
 * 004 - Subcategories
 * 005 - About
 * 006 - Process
 * 007 - Porfolio
 */

/* ---------------
 * 001 - Extended files
 */

@import url("icons.css");
@import url("bootstrap_ext.css");
@import url("general.css");

/* ---------------
 * 002 - SLIDER
 */

.main-slider {
    width: 100%;
    float: left;
    height: 600px;
}

.main-slider .slider-cont {
    margin-top: 100px;
    overflow: hidden;
    padding: 25px;
    background-color: white;
}

.main-slider h1 {
    font-size: 3em;
}

.main-slider .slider-cont h1 span {
    display: block;
}

.main-slider .slider-cont h1.ux-h1 span {
    display: inline-block;
}

.swiper-pagination-bullet-active  {
    background: #5bd9ef;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(../assets/images/arrow-l.svg);
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../assets/images/arrow-r.svg);
}

@media (max-width: 1599px) {
    .main-slider {
        height: 520px;
    }
    .main-slider .slider-cont  {
        margin-top: 60px;
    }
    .main-slider h1 {
        font-size: 3em;
    }
}

@media (max-width: 1200px) {
    .main-slider {
        height: 470px;
    }
    .main-slider .slider-cont  {
        margin-top: 60px;
    }
    .main-slider p {
        font-size: 0.85em;
    }
}

@media (max-width: 992px) {
    .main-slider {
        height: 450px;
    }
    .main-slider .slider-cont  {
        margin-top: 120px;
    }
    .main-slider h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 992px) {
    .main-slider {
        height: 420px;
    }
    .main-slider h1 {
        font-size: 2.2em;
    }
    .main-slider .slider-cont h1 span {
        display: inline;
    }
}

@media (max-width: 768px) {
    .main-slider {
        height: 480px;
    }
    .main-slider .slider-cont  {
        margin-top: 120px;
    }
    .aboutsec {
        margin-top: 20px;
    }
}

@media (max-width: 640px) {
    .main-slider .slider-cont  {
        margin-top: 120px;
    }
    .main-slider {
        height: 550px;
    }
}

@media (max-width: 480px) {
    .main-slider .slider-cont  h1 span {
        display: block;
    }
    .main-slider .slider-cont h1.ux-h1 span {
        display: inline-block;
    }
}

@media (max-width: 400px) { 
    .main-slider .slider-cont  {
        margin-top: 80px;
    }
    .main-slider {
        height: 580px;
    }
    .main-slider h1 {
        font-size: 1.8em;
    }
}

/* ---------------
 * 003 - CATEGORIES
 */

.cat-cont  {
    width: 100%;
    padding: 0;
}

.cat-cont  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #5b7778;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.cat-cont  .category:first-child {
    background-color: #839899 !important;
}

.cat-cont  .category:last-child {
    background-color: #abc9ca !important;
}

.cat-cont  .category > span {
    width: 250px;
    padding: 5px 20px;
    margin: 10px 0;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    font-weight: 400;
}

@media (max-width: 800px) {
    .cat-cont  .inner {
        display: block;
    }
    .cat-cont  .category {
        width: 100%;
    }
}

/* ---------------
 * 004 - SUBCATEGORIES
 */

.category > ul {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    padding-top: 15px;
    opacity: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.category > ul a {
    color: #2c3a3a;
    display: block;
    padding: 7px 0 4px 30%;
    font-size: 0.88em;
    font-weight: 400;
}

.category > ul li:last-child {
    margin-bottom: 20px;
}

.category > ul a:hover {
    color: #5bd9ef;
}

.category > ul.subcat {
    display: block;
    opacity: 1;
    top: 60px;
}

@media (max-width: 800px) {
    .accordion {
        margin-top: 100px;
    }
    .spacer {
        height: 70px;
    }
    .aboutsechash {
        height: 30px;
    }

    .category > ul.subcat {
        top: 45px;
    }
}

/* ---------------
 * 005 - ABOUT
 */

.aboutsec {
    width: 100%;
    height: 310px;
    background-color: #e9f4f4;
}

.aboutsec .row {
    padding: 0 3%;
}

.aboutsec .about-pic {
    height: 310px;
}

.aboutsec .about-cont {
    padding-left: 5%;
}

.aboutsec .about-cont h2 {
    font-size: 2.25em;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #5bd9ef;
}

.aboutsec .about-cont h2 span {
    font-weight: 300;
    color: #2c3a3a;
}

.aboutsec .about-cont p {
    font-size: 0.9em;
    color: #2c3a3a;
    line-height: 1.5em;
}

@media (max-width: 991px) and (min-width: 768px) {
    .aboutsec,
    .aboutsec .about-pic {
        height: 320px;
    }
    .aboutsec .about-cont h2 {
        margin-top: 50px;
    }
}

@media (max-width: 767px) and (min-width: 640px) {
    .aboutsec,
    .aboutsec .about-pic {
        height: 350px;
    }
    .aboutsec .about-cont h2 {
        margin-top: 50px;
        font-size: 2em;
    }
    .aboutsec .about-cont p {
        font-size: 0.9em;
    }
}

@media (max-width: 639px)  {
    .aboutsec {
        height: 520px;
    }

    .aboutsec .about-pic {
        float: right;
        height: 170px;
        background-size: auto 170px;
        background-position: center right;
        margin-top: 7%;
        margin-right: 10%;
    }

    .aboutsec .about-cont {
        width: 100%;
        padding: 5% 10%;
    }

    .aboutsec .about-cont h2 {
        margin-top: 10px;
    }

    .aboutsec .about-cont p {
        font-size: 0.85em;
    }

    .aboutsec .about-cont h2 span {
        display: block;
    }
}

@media (max-width: 420px) {
    .aboutsec {
        height: 550px;
    }
}

/* ---------------
 * 006 - PROCESS
 */

.process-sec .container {
    width: 100%;
    max-width: 1170px;
}

.process-cont {
    text-align: center;
    padding: 20px 3%;
}

.process-sec .cont-2 {
    width: 16.8%;
    min-width: 160px;
    display: inline-block;
    text-align: left;
    font-size: 0.8em;
    padding: 20px 0 10px 0;
    margin: 0 6px;
    vertical-align: top;
}

.process-sec p {
    padding-top: 20px;
}

@media (max-width: 991px) {
    .process-sec .container {
        width: 90%;
    }

    .process-sec .cont-2 {
        width: 16.8%;
        min-width: 195px;
    }
}

@media (max-width: 515px) {
    .process-sec .container {
        width: 100%;
    }

    .process-sec .cont-2 {
        width: 90%;
        min-width: 90%;
        text-align: center;
    }
    
    .process-sec .cont-2 img {
        width: 50%;
        min-width: 50%;
    }

    .process-sec .cont-2 p {
        text-align: left;
    }
}

/* ---------------
 * 007 - PORTFOLIO
 */

@media (max-width: 991px) {
    .portfolio-cont .view-more {
        top: 0;
        margin-bottom: 30px;
    }
}


