/* -----------------------------
 * Jordi Design Works CSS
 *
 * ---------
 * CSS Index
 *
 * 001 - Extended Files
 * 002 - General Works 
 * 003 - View More
 * 004 - MixitUp

 * ---------------
 * 001 - Extended files
 */

@import url("icons.css");
@import url("bootstrap_ext.css");
@import url("general.css");

/* ---------------
 * 002 - GENERAL WORKS
 */

.hash-cont {
  width: 100%;
  height: 100px;
}

.sec-cont {
  padding: 0 50px;
}

.sechead p {
  max-width: 700px;
}

@media (max-width: 1400px) and (min-width: 768px) {
  #nav-bar {
    width: 540px;
  }
}

@media (max-width: 767) {
  #nav-bar {
    width: 200px;
  }
  .hash-cont {
    width: 100%;
    height: 120px;
  }
}

/* ---------------
 * 003 - VIEW MORE
 */

.more-cont {
  font-size: 0.9em;
  padding: 20px 0 0;
}

.more-cont h4 {
  float: left;
  position: relative;
  border-bottom: solid 1px #abc9ca;
  padding: 20px 0 10px;
  margin-top: 60px;
  font-weight: bold;
}

.more-left {
  padding: 0;
}

/* Load animation */

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0
  }
}

@-moz-keyframes load {
  0% {
    stroke-dashoffset: 0
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 0
  }
}

/* Skills */

.skills {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  margin: 0;
  padding: 0 20px;
}

.skills li {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 40px 1.3rem 0;
  float: left;
}

.skills li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
}

.skills li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 33px;
  left: 0;
  text-align: center;
  color: #5bd9ef;
  font-weight: 700;
  font-style: italic;
}

.skills svg {
  width: 5rem;
  height: 5rem;
}

.skills svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.skills svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: rgba(255, 255, 255, 0.9);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s;
}

/* Clients */

.more-cont h4.clientstitle {
  margin-top: 90px;
}

.clients {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  float: left;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0 20px 0 40px;
}

.clients ul li {
  margin-right: 10px;
  float: left;
}

.clients img {
    padding: 20px 8px 0 8px;
    height: 65px;
}

/* Experience */

.experience {
  float: right;
  height: 350px;
  padding-left: 30px;
  border-left: solid 1px #abc9ca;
}

.more-cont .experience h4 {
  left: 0;
  margin-top: 0;
  border: 0;
  width: 100%;
}

.experience ul {
  margin-top: 40px;
}

.experience ul li {
  padding-top: 20px
}

.experience h5 {
  font-size: 1.2em;
  color: #5bd9ef;
}

.experience i {
  font-size: 0.7em;
  padding-left: 5px;
}

@media (max-width: 1199px) {
  .more-cont h4 {
    margin-top: 0px;
  }

  .more-cont h4.clientstitle {
    margin-top: 40px;
  }

  .skills {
    padding: 0;
  }

  .skills li {
    margin: 30px 1.3rem 20px;
  }

  .clients {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 991px) {
  .sechead h1 {
    font-size: 2.5em;
  }
  .sechead p {
    font-size: 0.8em;
    width: 100%;
  }
  .experience {
    height: 280px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .sec-cont {
    padding: 0 90px;
  }
}

@media (max-width: 640px) {
  .sec-cont {
    padding: 0 70px;
  }
}

@media (max-width: 480px) {
  .sec-cont {
    padding: 0 50px;
  }
}

@media (max-width: 380px) {
  .sec-cont {
    padding: 0 30px;
  }
}

/* ---------------
 * 004 - MIXIT UP
 */

.mix-cont.container {
  height: 400px;
}

@media (max-width: 1200px) and (min-width: 992px){
    .mix-cont.container {
      height: 250px;
    }
}

@media (max-width: 991px) and (min-width: 801px){
    .mix-cont.container {
      height: 700px;
    }
}

@media (max-width: 800px) and (min-width: 681px){
    .mix-cont.container {
      height: 590px;
    }
}

@media (max-width: 680px) and (min-width: 581px){
    .mix-cont.container {
      height: 500px;
    }
}

@media (max-width: 580px) and (min-width: 486px){
    .mix-cont.container {
      height: 420px;
    }

    button.allss,
    button.ss2 {
        margin-left: 100px !important;
    }

    button.ss1,
    button.ss3 {
      margin-right: 100px !important;
    }
}

@media (max-width: 485px) {
    .mix-cont.container {
      height: 1380px;
    }

    button.allss,
    button.ss2 {
        margin-left: 50px !important;
    }

    button.ss1,
    button.ss3 {
      margin-right: 50px !important;
    }
}

@media (max-width: 420px) and (min-width: 385px){
    .mix-cont.container {
      height: 1200px;
    }
}

@media (max-width: 385px){
  .mix-cont.container {
    height: 1100px;
  }
}







