@import url('retina.css');
@import url('fonts.css');

/*__________GENERAL___________*/

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'swis721_cn_btroman';
    text-transform: uppercase;
}

h2 {
    font-family: 'swis721_cn_btroman';
    text-transform: uppercase;
}

p {
    font-weight: 300;
    font-size: 1.15em;
    line-height: 1.6em;
}

.spacer {
    width: 10%;
    border-top: 2px solid white;
    margin: 25px 0;
}

input:focus, button:focus {
    outline: 0
}

::-webkit-input-placeholder {
    font-weight: 300;
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
    color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
    font-weight: 300;
    color: white;
}

:-ms-input-placeholder {  
    font-weight: 300;
    color: white;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}

button::-moz-focus-inner{
  padding: 0;
  border: 0;
}

/*__________FIXED___________*/

.fixed .iso-logo{
    position: fixed;
    top: 30px;
    left: 30px;
}

.fixed .phone-cont {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.fixed .phone-cont .phone {
    position: relative;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.fixed .phone-cont .design-cont {
    position: absolute;
    top: 58px;
    left: 49px;
    width: 230px;
    height: 409px;
    overflow: hidden;
}

.fixed .phone-cont .design {
    position: absolute;
    top: 0;
    left: 0;
}

/*__________SLIDE 1___________*/

.slide-1, .slide-6 {
    width: 100%;
    height: 100vh;
}

.slide-1-cont, .slide-6-cont {
    margin-top: 23vh;
}

.slide-1-logo, .slide-6-logo {
    margin-top: 35vh;
}

.slide-1 h1, .slide-6 h1 {
    color: #a49341;
    font-size: 2.2em; 
}

.slide-1 h2, .slide-1 p,
.slide-6 h2, .slide-6 p  {
    color: white; 
}

.slide-1 h2,
.slide-6 h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.35em;  
}

.newsletter input {
    font-size: 1.2em;
    font-weight: 300;
    padding: 5px 15px;
    background: none;
    border: 1px solid white;
    color: white;
    height: 40px;
    width: 70%; 
}

.newsletter button {
    background-color: white;
    color: black;
    font-family: 'swis721_cn_btbold';
    font-size: 1.2em;
    width:25%;
    height: 40px;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
    left:-2px;
}

.redes {
    margin-top: 30px; 
    color: #a49341;
}

.redes span {
    font-family: 'swis721_cn_btbold';   
    text-transform: uppercase;
    font-size: 1.1em;
    margin-right: 10px; 
}

.redes a {
    color: #a49341;
    font-size: 1.5em;
    margin-left: 8px; 
}

.redes .fa-instagram {
    font-size: 1.1em; 
    margin-left: -2px; 
}

/*__________SLIDE 2___________*/

.slide-2 {
    width: 100%;
    height: 100vh;
    background: url(../assets/images/slide-2-bg.png);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: center;
}

.slide-2-cont {
    margin-top: 15vh;
}

.slide-2 h1 {
    font-size: 3.4em; 
    font-family: 'swis721_cn_btbold';
    margin-top: 0;
}

.slide-2 h1 span {
    font-size: 0.7em; 
}

.slide-2 h2 {
    font-size: 2.2em;
    margin-bottom: 5px;  
}

.slide-2 .spacer {
    border-top: 2px solid  #a49341;
}

.slide-2 p {
    font-weight: 400;
    margin-bottom: 20px;
}

/*__________SLIDE 3___________*/

.slide-3 {
    width: 100%;
    height: 100vh;
    background: url(../assets/images/slide-3-bg.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: center;
}

.slide-3-cont {
    margin-top: 25vh;
}

.slide-3 h1 {
    font-size: 2.2em; 
}

.slide-3 h1 span {
    font-family: 'swis721_cn_btbold';
}

.slide-3 .spacer {
    border-top: 2px solid  #a49341;
}

.slide-3 p {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 1.2em;
}

/*__________SLIDE 3___________*/

.slide-4 {
    width: 100%;
    height: 100vh;
    background: url(../assets/images/slide-4-bg.png);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: center;
}

.slide-4-cont {
    margin-top: 25vh;
}

.slide-4 h1 {
    font-size: 2.2em; 
}

.slide-4 h1 span {
    font-family: 'swis721_cn_btbold';
}

.slide-4 .spacer {
    border-top: 2px solid  #a49341;
}

.slide-4 p {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 1.15em;
}

/*__________SLIDE 5___________*/

.slide-5 {
    width: 100%;
    height: 100vh;
}

.slide-5-cont {
    margin-top: 23vh;
}

.slide-5 h1 {
    color: #a49341;
    font-size: 2.2em; 
}

.slide-5 p {
    color: white; 
}

/*__________SLIDE 6___________*/

.slide-6 {
    background-color: black;
}
