/*=========    HEADER   ========= */

/*_________Top Nav________*/

.top-nav {
  background-color: #f3f3f3;
}

.top-nav>ul a,
.top-nav .anchors a {
  color: #929292;
}

.top-nav>ul a:hover,
.top-nav>ul a:active,
.top-nav>ul a:focus {
  color: #ccc;
}

.top-nav .anchors li:hover,
.top-nav .anchors li:active,
.top-nav .anchors li:focus,
.top-nav .anchors li a.active {
  background-color: rgba(200, 200, 200, 0.2);
}

.top-nav .pe-7s-more {
  color: #01ecc0;
}

/*_________Main header________*/

.main-header {
  background-color: white;
}

.main-header input[type="search"] {
  border-bottom-color: #ccc;
  color: #929292;
  background: transparent;
}

.main-header input[type="search"]:focus {
  border-bottom-color: #01ecc0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #6d6d6d inset;
  -webkit-text-fill-color: #01ecc0 !important;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

.main-header .search-btn a,
.main-header .cart-resp-btn a {
  background-color: #01ecc0;
}

.main-header .search a i {
  color: white;
}

.main-header .profile a i {
    color: #6d6d6d !important;
}

/*Profile menu*/
.main-header .profile-menu {
  background-color: #f9f9f9;
}

.main-header .search a i {
    color: white;
}

.main-header .search  .profile-menu a.pm-cerrar i {
   color: #ddd;
}

/*_________Main nav________*/

.main-nav {
  background-color: #01ecc0;
}

.main-nav a,
.main-nav button {
  color: #6d6d6d;
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus {
  background-color: #5cffd0;
  cursor: pointer;
}

.main-nav button {
  background-color: #5cffd0;
}

/*_________Megamenu________*/

.megamenu {
  background-color: white;
  border-bottom-color: #e7e7e7 !important;
}

.megamenu h3 {
  color: #01ecc0;
}

.megamenu .spacer {
  background-color: #01ecc0;
}

.megamenu .col-md-2 li a {
  color: #6d6d6d;
}

.megamenu .col-md-2 li a:hover,
.megamenu .col-md-2 li a:focus,
.megamenu .col-md-2 li a:active {
  color: #01ecc0;
}

.megamenu .popular-tags {
  border-top-color: #e7e7e7 !important;
}

/*_________Backtotop________*/

.backtotop-btn {
  background-color: #01ecc0;
}

.backtotop-btn a:hover, 
.backtotop-btn a:active, 
.backtotop-btn a:focus {
    color: white;
}

/*=========    HOME  ========= */

/*_________Slider________*/

.swiper-pagination-bullet-active {
  background: #01ecc0;
}

/*_________Search-box________*/

.search-box {
  background-color: rgba(255,255,255,.9);
}

.search-home input[type="search"] { 
  background: transparent;
}

.search-home input[type="search"] {
  border-bottom-color: #ccc;
  color: #929292;
  background: transparent;
}

.search-home input[type="search"]:focus {
  border-bottom-color: #01ecc0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #6d6d6d inset;
  -webkit-text-fill-color: #01ecc0 !important;
}

.search-home a {
  background-color: #01ecc0;
}

.search-home a i {
  color: white;
}

/*_________Sponsors________*/

.sponsors {
    background-color: #ccc;
}

/*_________Main title________*/

.main-title h1 {
  color: #01ecc0;
}

.main-title .spacer {
  background-color: #01ecc0; 
}

/*__________Hacedores_______*/

.hacedores-box {
  background-color: rgba(255,255,255,.9);
}

.hacedores-box h1 {
  color: #01ecc0;
}

.hacedores-box .spacer {
  background-color: #01ecc0; 
}

.hacedores-box  span {
  color: #01ecc0;
}

/*__________El taller_______*/

.taller h1 {
  color: white;
}

.taller-title .spacer {
    background-color: white;
}

.taller .swiper-container {
    background: white;
}

.taller-thumb {
  background-color: white;
}

.taller-thumb p {
  color: #6d6d6d;
}

.taller-thumb p:hover,
.taller-thumb p:focus,
.taller-thumb p:active {
  color: #01ecc0;
}

.taller-thumb a .play-hover i {
  color: white;
}

#lightcase-overlay {
  background-color: white;
}

#lightcase-nav a[class*='lightcase-icon-']:hover {
  color: #01ecc0;
}

#lightcase-nav a[class*='lightcase-icon-'], 
#lightcase-nav a[class*='lightcase-icon-']:focus {
  color: #01ecc0;  
}

#lightcase-case {
  border-color: white !important;
}

/*=========    RELATED SEARCH, BREADCRUMBS  & BANNER  ========= */

/*_________Related search________*/

.related {
  border-bottom-color: #e7e7e7;
}

.related span {
  color: #6d6d6d;
}

/*_________Breadcrumb________*/

.breadcrumbs li,
.breadcrumbs li a {
  color: #6d6d6d;
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
  color: #01ecc0;
}


/*=========    FILTERS  ========= */

/*_________Filters________*/

.filters {
  border-right-color: #e7e7e7 !important;
}

.filter-btn {
  background-color: #01ecc0;
  color: #6d6d6d;
}

.filter-btn:hover i,
.filter-btn:active i,
.filter-btn:focus i {
  color: #6d6d6d;
}

/*_________Hacedores________*/

.filters .hacedores-filter {
  border-color: #01ecc0 !important;
}

.filters .hacedores-filter h3 {
  color: #01ecc0;
}

/*_________Tags________*/

.tag {
  background-color: #e7e7e7;
}

.tag i {
  background-color: #5cffd0;
}

.tag span {
  color: #6d6d6d;
}

/*_________ Filter List________*/

.filters .spacer {
  background-color: #01ecc0;
}

.filters ul li a {
  color: #6d6d6d;
}

.filters ul li a:hover,
.filters ul li a:active,
.filters ul li a:focus {
  color: #01ecc0;
}

.filters ul li div.active {
  background-color: #01ecc0;
}

.filters ul li div.active:hover {
  background-color: #5cffd0; 
}

.filters ul li div.active:hover a {
  color: #6d6d6d; 
}

/*_________Filter Payment________*/

.filters .slider-line {
  background-color: #6d6d6d;
}

.filters .slider-selected {
  background-color: #01ecc0;  
}

.filters .slider-handle {
  border-color: #6d6d6d;
  background-color: white;
}


/*=========  LISTS  ========= */

/*_________Section Header________*/

.section-filter .list-format i {
  color: #e7e7e7;
}

.section-filter .list-format:hover i {
  color: #01ecc0;
}

.section-filter .list-format.active i {
  color: #01ecc0;
}

/*_________Products Thumbs________*/

.thumb>p>a  {
  color: #6d6d6d;
}

.thumb>p>a:hover,
.thumb>p>a:focus, 
.thumb>p>a:active  {
  color: #01ecc0;
}

.thumb .prize .spacer {
  background-color: #01ecc0;
}

.thumb-img .cart-hover {
  background-color: #01ecc0;
}

.thumb-img .cart-hover:hover {
  background-color: #5cffd0;
}

.thumb-img .cart-hover i {
  color: #6d6d6d;
}

/*_________Products List________*/

.resultados-list .list-row {
  border-top-color: #e7e7e7 !important;
}

.resultados-list .product-info p a {
  color: #6d6d6d;
}

.resultados-list .product-info p a:hover,
.resultados-list .product-info p a:active,
.resultados-list .product-info p a:focus {
  color: #01ecc0;
}

.resultados-list .list-row.last-row {
  border-bottom-color: #e7e7e7 !important;
}

/*_________Advertisement________*/

.advertisement {
  background-color: #e7e7e7;
}

.advertisement div {
  color: white;
  background-color: #929292;
}

/*_________Pagination________*/

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    color: #6d6d6d;
    background-color: #01ecc0;
    border-color: #01ecc0;
}

.pagination>li>a, 
.pagination>li>span {
    color: #6d6d6d;
    background-color: #fff;
    border-color: #e7e7e7;
}

.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
    color: #6d6d6d;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}

.pagination>li.disabled>a, 
.pagination>li.disabled>span,
.pagination>li.disabled>a:focus, 
.pagination>li.disabled>a:hover, 
.pagination>li.disabled>span:focus, 
.pagination>li.disabled>span:hover {
  color: #ccc;
}

/*=========    DETAILS  ========= */

/*_________Detail main content________*/

.details .store {
  border-left: 1px solid #eee;
  background-color: #f7f7f7;
}

.details .desc-cont .tags ul li {
  background: #eee;
}


/*_________Detail comments________*/

.jquery-comments ul.navigation li.active, 
.jquery-comments ul.navigation li:hover {
  color: #6d6d6d;
}

/*=========    CARRITO  ========= */

/*_________Details container________*/

.carrito .car-detail {
    background-color: #f3f3f3;
}

.carrito .resultados-list .prize {
    height: 220px;
    background-color: #e7e7e7;
}

.carrito .resultados-list  .prize-sum {
    border-bottom-color: #666 !important;
}

.carrito .total .spacer {
    background-color: #01ecc0;
}

/*=========    COMPRA  ========= */

/*_________Form________*/

.form .wizard li {
  border-bottom: 1px solid #eee;
}

.form .wizard li.active {
  border-bottom: 2px solid #01ecc0;
  color: #01ecc0;
}

.form .wizard li a {
  color: #01ecc0;
}

.form .wizard li.active a {
  color: #5cffd0;
}

.form .wizard li.disable a {
  color: #ddd;
  cursor: default;
}

.form .wizard li .circle {
    background-color: #01ecc0;
}

.form .wizard li {
  border-bottom-color:  #01ecc0;
}

.form .wizard li.disable .circle {
    border: 1px solid #eee;
    background-color: white;
}

.form .wizard li.active .circle {
    background-color: #5cffd0;
}

.form .wizard li.disable {
  border-bottom-color:  #eee;
}

.form .wizard li.active {
  border-bottom-color:  #5cffd0;
}


/*=========  FOOTER  ========= */

footer {
  background-color: #f3f3f3;
}

footer h3 {
  color: #01ecc0;
}

footer a {
  color: #6d6d6d;
}

