/*=========    GENERAL   ========= */

/*_________Bootstrap mobile extended________*/

.col-xxs-1,.col-xxs-10,.col-xxs-11,.col-xxs-12,.col-xxs-2,.col-xxs-3,.col-xxs-4,.col-xxs-5,.col-xxs-6,.col-xxs-7,.col-xxs-8,.col-xxs-9, .col-xxxs-1,.col-xxxs-10,.col-xxxs-11,.col-xxxs-12,.col-xxxs-2,.col-xxxs-3,.col-xxxs-4,.col-xxxs-5,.col-xxxs-6,.col-xxxs-7,.col-xxxs-8,.col-xxxs-9{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
}

.col-xxs-1,.col-xxs-10,.col-xxs-11,.col-xxs-12,.col-xxs-2,.col-xxs-3,.col-xxs-4,.col-xxs-5,.col-xxs-6,.col-xxs-7,.col-xxs-8,.col-xxs-9, .col-xxxs-1,.col-xxxs-10,.col-xxxs-11,.col-xxxs-12,.col-xxxs-2,.col-xxxs-3,.col-xxxs-4,.col-xxxs-5,.col-xxxs-6,.col-xxxs-7,.col-xxxs-8,.col-xxxs-9 { 
  float:left;
}

@media screen and (min-width:481px) and (max-width: 640px){

.col-xxs-pull-12 { right:100%; }
.col-xxs-pull-11 { right:91.66666667%; }
.col-xxs-pull-10 { right:83.33333333%; }
.col-xxs-pull-9 { right:75%; }
.col-xxs-pull-8 { right:66.66666667%; }
.col-xxs-pull-7 { right:58.33333333%; }
.col-xxs-pull-6 { right:50%; }
.col-xxs-pull-5 { right:41.66666667%; }
.col-xxs-pull-4 { right:33.33333333%; }
.col-xxs-pull-3 { right:25%; }
.col-xxs-pull-2 { right:16.66666667%; }
.col-xxs-pull-1 { right:8.33333333%; }
.col-xxs-pull-0{ right:auto; }

.col-xxs-push-12 { left:100%; }
.col-xxs-push-11 { left:91.66666667%; }
.col-xxs-push-10 { left:83.33333333%; }
.col-xxs-push-9 { left:75%; }
.col-xxs-push-8 { left:66.66666667%; }
.col-xxs-push-7 { left:58.33333333%; }
.col-xxs-push-6 { left:50%; }
.col-xxs-push-5 { left:41.66666667%; }
.col-xxs-push-4 { left:33.33333333%; }
.col-xxs-push-3 { left:25%; }
.col-xxs-push-2 { left:16.66666667%; }
.col-xxs-push-1 { left:8.33333333%; }
.col-xxs-push-0 { left:auto; }
.col-xxs-offset-12 { margin-left:100%; }
.col-xxs-offset-11 { margin-left:91.66666667%;}
.col-xxs-offset-10 { margin-left:83.33333333%; }
.col-xxs-offset-9 { margin-left:75%; }
.col-xxs-offset-8 { margin-left:66.66666667%; }
.col-xxs-offset-7 { margin-left:58.33333333%; }
.col-xxs-offset-6 { margin-left:50%; }
.col-xxs-offset-5 { margin-left:41.66666667%; }
.col-xxs-offset-4 { margin-left:33.33333333%; }
.col-xxs-offset-3 { margin-left:25%; }
.col-xxs-offset-2 { margin-left:16.66666667% ;}
.col-xxs-offset-1 { margin-left:8.33333333%; }
.col-xxs-offset-0{ margin-left:0; }

.col-xxs-1 { width:8.33333333%; }
.col-xxs-2 { width:16.66666667%; }
.col-xxs-3 { width:25%; }
.col-xxs-4 { width:33.33333333%; }
.col-xxs-5 { width:41.66666667%; }
.col-xxs-6 { width:50%; }
.col-xxs-7 { width:58.33333333%; }
.col-xxs-8 { width:66.66666667%; }
.col-xxs-9 { width:75%; }
.col-xxs-10 { 83.33333333%; }
.col-xxs-11 { width:91.66666667%; }
.col-xxs-12 { width: 100%; }
}

@media screen and (min-width:321px) and (max-width: 480px){
 
.col-xxxs-pull-12 { right:100%; }
.col-xxxs-pull-11 { right:91.66666667%; }
.col-xxxs-pull-10 { right:83.33333333%; }
.col-xxxs-pull-9 { right:75%; }
.col-xxxs-pull-8 { right:66.66666667%; }
.col-xxxs-pull-7 { right:58.33333333%; }
.col-xxxs-pull-6 { right:50%; }
.col-xxxs-pull-5 { right:41.66666667%; }
.col-xxxs-pull-4 { right:33.33333333%; }
.col-xxxs-pull-3 { right:25%; }
.col-xxxs-pull-2 { right:16.66666667%; }
.col-xxxs-pull-1 { right:8.33333333%; }
.col-xxxs-pull-0{ right:auto; }

.col-xxxs-push-12 { left:100%; }
.col-xxxs-push-11 { left:91.66666667%; }
.col-xxxs-push-10 { left:83.33333333%; }
.col-xxxs-push-9 { left:75%; }
.col-xxxs-push-8 { left:66.66666667%; }
.col-xxxs-push-7 { left:58.33333333%; }
.col-xxxs-push-6 { left:50%; }
.col-xxxs-push-5 { left:41.66666667%; }
.col-xxxs-push-4 { left:33.33333333%; }
.col-xxxs-push-3 { left:25%; }
.col-xxxs-push-2 { left:16.66666667%; }
.col-xxxs-push-1 { left:8.33333333%; }
.col-xxxs-push-0 { left:auto; }
.col-xxxs-offset-12 { margin-left:100%; }
.col-xxxs-offset-11 { margin-left:91.66666667%;}
.col-xxxs-offset-10 { margin-left:83.33333333%; }
.col-xxxs-offset-9 { margin-left:75%; }
.col-xxxs-offset-8 { margin-left:66.66666667%; }
.col-xxxs-offset-7 { margin-left:58.33333333%; }
.col-xxxs-offset-6 { margin-left:50%; }
.col-xxxs-offset-5 { margin-left:41.66666667%; }
.col-xxxs-offset-4 { margin-left:33.33333333%; }
.col-xxxs-offset-3 { margin-left:25%; }
.col-xxxs-offset-2 { margin-left:16.66666667% ;}
.col-xxxs-offset-1 { margin-left:8.33333333%; }
.col-xxxs-offset-0{ margin-left:0; }

.col-xxxs-1 { width:8.33333333%; }
.col-xxxs-2 { width:16.66666667%; }
.col-xxxs-3 { width:25%; }
.col-xxxs-4 { width:33.33333333%; }
.col-xxxs-5 { width:41.66666667%; }
.col-xxxs-6 { width:50%; }
.col-xxxs-7 { width:58.33333333%; }
.col-xxxs-8 { width:66.66666667%; }
.col-xxxs-9 { width:75%; }
.col-xxxs-10 { width: 83.33333333%; }
.col-xxxs-11 { width:91.66666667%; }
.col-xxxs-12 { width: 100%; }
}

/*=========    HEADER   ========= */

/*_________Top Nav________*/

@media screen and (max-width:1330px ) and (min-width:820px){
    .container {
        margin: 0 30px;
    }

    .top-nav .anchors {
        margin-right: 50px;
    }
}

@media screen and (max-width:819px ) and (min-width:680px){
    .container {
        margin: 0 20px;
    }

    .top-nav .anchors {
        width: 100%;
        text-align: center;
    }

    .top-nav .anchors li {
        float: none;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {

    .container {
        margin: 0 20px;
    }

    .top-nav .anchors {
        display: none;
    }

    .top-nav>ul {
      position: relative;
      right: 20px;
      text-align: right;
      z-index: 999;
    }

    .top-nav .top-menu-icon { 
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    .top-nav .anchors.responsive {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .top-nav .anchors.responsive li {
        float: none;
        display: inline;
    }

    .top-nav .anchors.responsive li a {
        display: block;
        text-align: left;
    }
}

/*_________Main header________*/

@media screen and (max-width:919px ) {

    .main-header input[type="search"] {
        min-width: 180px;
        width: 180px;
    }

    .logo-ofelia img{
        width: 170px;
    }

    .main-header .cart-resp-btn {
        display: inline-block;
    }

    .main-nav button {
        display: none;
    }

    body.home .search-home {
        display: none;
    }

     body.home  .main-header input[type="search"],
     body.home  .main-header .search-btn {
        display: inline-block;
     }

    .main-header input[type="search"].responsive,
    body.home .main-header input[type="search"].responsive {
        display: none;
     }

     .main-header .profile-name {
        display: none;
     }
}

@media screen and (max-width:767px ) {

    .logo-ofelia {
        text-align: center;
    }

    .logo-ofelia img{
        width: 170px;
    }

    header.sticky .main-header .logo-ofelia {
      display: none;
    }

    .main-header .search {
        text-align: right;
        margin-bottom: 10px;
    }

    header.sticky .main-header .search {
        margin: 10px 0;
    }

    .main-header .cta {
        height: 50px;
        line-height: 50px;
        float: left;
    }

    header.sticky .main-header .cta {
        height: 50px;
        line-height: 50px;
    }

    .main-header .logo-ofelia {
        height: 75px;
        line-height: 75px;
    }

    header.sticky .main-header .cta.loggued {
        margin-top: 0px;
    }

    .main-header .profile-menu {
        left: -20px;
        margin-top: 9px;
    }

    header.sticky .main-header .cta.loggued .profile-menu {
        left: -40px;
        margin-top: 9px;
    }

    body.home header.sticky .main-header #q {
        display: none;
    }
}

@media screen and (max-width:559px ) {
    
    .main-header .search {
        padding: 0;
    }

    header.sticky  .search.search-resp,
    .main-header .search.search-resp {
        margin-bottom: 50px;
    }

    .main-header .search-btn a {
        display: none;
    }

    .main-header .search a.responsive {
        display: flex;
    }

    .main-header input[type="search"],
     body.home .main-header input[type="search"] {
        display: none;
    }

    .main-header input[type="search"].responsive,
     body.home .main-header input[type="search"].responsive {
        width: 100%;
        padding: 0 0px;
        position: absolute;
        left: 0;
        top: 50px;
        padding: 5px;
    }

    .main-header .search-btn {
        margin-top: 5px;
    }

    .main-header .cta,
    .main-header .cta button {
        margin-left: 0;
    }

    .main-header .cta button{
        margin-right: 5px;
    }

    header.sticky .main-header .cta.loggued .profile-menu {
        left: -20px;
        margin-top: 9px;
    }
}

@media screen and (min-width: 321px ) and (max-width:350px ) {
    .container {
        margin: 0 15px;
    }

    .main-header .search a {
        margin-left: 2px;
    }
}

/*_________Main nav________*/

@media only screen and (max-device-width:680px) {
    .main-nav {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; 
    }

    .related {
         display: none;
    }

    .banner {
        margin-top: 200px;
    }
}

/*_________Megamenu________*/

@media screen and (max-width:767px) {
    .popular-tags {
         display: none;
    }
}

@media only screen and (max-device-width:1170px) {
    .megamenu .col-md-2 {
         min-height: 350px;
    }

    .megamenu .col-md-2 li {
        padding: 5px 0;
    }

    .megamenu .col-md-2 li a {
         font-size: 1em;
         line-height: 1.2em;
    }
}

@media screen and (min-width:481px) and (max-width:760px) {
    .megamenu .hogar-cont .col-md-2 .fill-up {
         display: none;
    }
}

@media screen and (max-width:480px) {
    .megamenu .col-md-2 {
         width: 100%;
         min-height: 0;
    }

    .megamenu .col-md-2 .fill-up {
         display: none;
    }

    body.home header.sticky .main-header #q {
        display: none;
    }
}

/*=========  HOME  ========= */

/*_________Slider________*/

@media screen and (max-width:768px ){
    .slider .swiper-container {
        max-height: 580px;
        margin-top: 200px;
    }

    .swiper-button-next, .swiper-button-prev {
        background-size: 70%
    }
}

@media screen and (max-width:480px ){
    .slider .swiper-container {
        max-height: 680px;
        margin-top: 200px;
    }
}

/*_________Sponsors________*/

@media only screen and (max-device-width:992px) {
    .sponsors {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; 
    }
}

@media screen and (max-width:768px) {
    .sponsors img {
        height: 35px;
    }
}

/*_________Titles________*/

@media screen and (max-width:768px) {
    .main-title h1,
    .hacedores-box h1,
    .taller h1 {
      font-size: 3.5em;
    }

    .main-title h2 {
        font-size: 1.1em;
    }
}

@media screen and (max-width:480px) {
    .main-title h1,
    .hacedores-box h1,
    .taller h1 {
      font-size: 3em;
    }

    .main-title h2 {
        font-size: 0.9em;
    }
}

/*_________Hacedores________*/

@media screen and (min-width:992px ){
    .hacedores-box.hace-intro {
        height: 340px;
        margin-top: 130px;
    }
}

@media screen and (max-width:991px ){
    .hacedores-box.hace-intro {
        height: 320px;
        margin-top: 130px;
    }
}

@media screen and (max-width:640px) {
    .hacedores-box {
        height: 330px;
        margin-top: 230px;
        padding: 30px;
    }

    .hacedores-box.hace-intro {
        height: 230px;
        margin-top: 230px;
    }

    .hacedores .gallery-top {
        height: 600px;
    }

    .hacedores-box h1 {
        margin-top: 0;
        max-width: 100%;
    }

    .hacedores-box .description {
        font-size: 1em;
    }
}

@media screen and (max-width:410px) {
    .hacedores-box {
        height: 380px;
        margin-top: 200px;
        padding: 30px 20px;
    }

    .hacedores-box.hace-intro {
        height: 280px;
    }
}

@media screen and (max-width:335px) {
    .hacedores-box {
        height: 380px;
        margin-top: 200px;
        padding: 30px 20px;
    }

    .hacedores-box .description {
        font-size: 0.9em;
    }
}

/*_________Taller________*/
@media screen and (max-width:640px) {
    #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
        position: fixed;
    }

    #lightcase-info {
        padding-left: 15px;
    }
}

/*=========  LISTS  ========= */

/*_________Containers________*/

@media screen and (max-width:1330px ) and (min-width:1100px){
    .main-content {
        padding: 0 50px;
    }
}

@media screen and (max-width:1099px ) and (min-width:600px){
    .main-content {
        padding: 0 30px;
    }   
}

@media screen and (max-width:599px ) {
    .main-content {
        padding: 0px;
    }
}

/*_________Banner________*/
@media screen and (max-width:991px ) {
    .banner h1{
        font-size: 3.3em;
    }
}

@media screen and (max-width:768px ) {
    .main-add {
        padding: 0 40px;
    }

    .main-add .product-img {
        margin-bottom: 20px;
    }

    .related {
        margin-top: 200px;
    }
}

@media screen and (max-width:580px ) {
    .main-add {
        padding: 0 20px;
    }

    .main-add .product-img,
    .main-add .main-add-cont {   
        width: 100%;
    }
}

/*_________Filters________*/
@media screen and (max-width:991px ){
    .filters.absolute {
        position: absolute;
        z-index: 999;
        background-color: white;
    }
}

@media screen and (max-width:991px ){ 
    .thumb.featured {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:1199px ) and (min-width:641px){
    .invisible-thumb {
        display: block;
    }
}

@media screen and (max-width:640px ){ 
/*@media only screen and (max-device-width:641px) {*/

    .thumb-img .img-hover {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .thumb-img:hover .img-hover {
      top: 10px;
    }

    .cart-hover {
        display: none;
    }
}

 /*_________List thumbs________*/
@media screen and (max-width:1199px ){ 
    .resultados-list .product-info {
        margin-left: 30px;
        max-width: 150px;
    }
    .resultados-list .product-data span {
      display: none;
    }
}

@media screen and (max-width:640px ){ 
    .resultados-list,
     .list-format {
        display: none;
    }
}


/*=========  Detail  ========= */

/*_________Main img________*/

@media screen and (max-width:1199px ){
    #gal1 img {
        width: 100%;
        padding-bottom: 10px;
        display: inline-block;
    }

    #gal1, .store{
        padding-left: 0px;
    }

    .description-cont>img {
       width: 100%;
    }

    .store-cont {
        padding-top: 40px;
        padding-left: 50px;
    }

}

@media screen and (max-width:991px ){ 

    main#details {
        margin-top: 200px;
    }

    .main-detail-cont {
        padding-left: 0px;
    }

    .section-desc {
        border-bottom: 1px solid #eee;
        border-right: none;
    }

    .zoomContainer {
        display: none !important;
    }
}

@media screen and (max-width:768px ){ 

    #gal1 img {
        width: 15%;
    }

    .main-detail-cont {
        padding-left: 20px;
    }

    .comments  {
        padding-left: 0px;
    }

    .section-calif {
        padding-left: 10px;
    }
}

@media screen and (max-width:640px ){ 

   .store  .store-cont {
        margin-top: 10px;
        padding-top: 15px;
        padding-left: 50px;
    }

    .navigation-wrapper.responsive header {
        position: relative;
        top: 0;
    }

    .description-cont .tech-cont img {
        width: 100%;
    }
}

@media screen and (max-width:480px ){ 

    .store .store-cont {
        padding-top: 0px;
        padding-left: 10px;
    }

    .store-cont>span {
        display: none;
    }
}

/*=========  Carrito  ========= */

/*_________Carrito________*/

@media screen and (max-width:768px ){ 
    .carrito .resultados-list .list-img {
        width: 80px;
        height: 80px;
        overflow: hidden;
        display: inline-flex;
        margin-bottom: 80px;
    }

    .resultados-list .product-info {
        max-width: 140px;
        position: absolute;
        font-size: 1em;
        margin-top: 20px;
    }
}

@media screen and (max-width:640px ){ 
    .carrito .resultados-list, .list-format {
        display: block;
    }
}

@media screen and (max-width:480px ){ 
    .carrito .resultados-list, .list-format {
        display: block;
    }
}

/*=========  Modal  ========= */

/*_________Carrito________*/

@media (min-width: 768px) {
    .form .modal-sm {
        width: 400px;
    }
}

/*=========  FOOTER  ========= */

@media screen and (max-width:768px ){ 
    .foot-cat {
        display: none;
    }
}

@media screen and (min-width:321px) and (max-width: 480px){
    .fill-up {
        display: none;
    }
}